@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto:wght@400&display=swap');


.App {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  min-height: 100vh;
}
  
* {
  box-sizing: border-box;
}
  
a {
  color: #555555;
  transition: color ease-in-out 0.3s;
}
  
a:hover {
  text-decoration: none;
}
  
a:hover i {
  transition: color ease-in-out 0.3s;
}
  
i {
  color: #cfced3;
  font-size: 1.4rem;
  padding: 5px;
  padding-right: 15px;
  vertical-align: middle;
}
  
i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #df8600;
}

.NavCol {
  height: 100%;
  padding-top: 30px;
}

.MidCol {
  color: #cfced3;
  border-left: 1px solid #202020;
  height: 100vh;
  padding-top: 50px;
}